{
  "env": {
    "node": true
  },
  "extends": "eslint:recommended",
  "parser": "babel-eslint",
  "rules": {
    "prettier/prettier": ["error", {"singleQuote": true, "bracketSpacing": false}]
  },
  "plugins": ["prettier"],
  "globals": {
    "atom": 1,
    "describe": 1,
    "it": 1,
    "expect": 1
  }
}
